.bg {
  background-image: url('/images/mesh-gradient-1.svg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
